{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 4],
    "no-use-before-define": 1
  },
  "globals": {
    "angular": true,
    "jQuery": true,
    "$": true,
    "_": true
  }
}